<h2> <%= @idea.title %> </h2>
<p> <strong> By: <%= @idea.user.first_name %> <%= @idea.user.last_name %> </strong> </p>
<h4> <%= @idea.description %> </h4>

<h5> <ul style="list-style: none;"> Suggestions: </h5>
  <% @idea.suggestions.each do |suggestion| %>
      <li> By: <%= suggestion.user.first_name %>
        <%= link_to suggestion.content, idea_suggestion_path(@idea, suggestion) %>
      </li>
    <br>
      <% if (current_user.id == @idea.user_id || suggestion.user_id) %>
        <%= link_to 'Delete Suggestion', idea_suggestion_path(@idea, suggestion),
        method: :delete, class: 'btn-flat disabled' %>
      <%end%>

    </ul></h4><br>
    <% end %>
    <%= link_to 'Add Suggestion', new_idea_suggestion_path(@idea), class: 'btn' %>
    <% if current_user == @idea.user %>
    <%= link_to 'Create Assignment', new_idea_assignment_path(@idea), class: 'btn' %> |
    <%= link_to 'Edit Idea', edit_idea_path(@idea), class: 'btn' %>
    <% end %>
