<h3><%= @assignment.title %></h3>
<h5><%= @assignment.description %></h5>

<%= form_for [@idea, @assignment] do |f| %>
<%= f.label :response  %>
<%= f.text_area :response  %>
<br />
<%= f.label :completed %>
<%= f.check_box :completed %>
<br />
<%= f.submit "Submit", class: "btn-large" %>
<% end %>
