<div class="row">
	<h2><%= @idea.title %></h2>
	<h4><%= @idea.description %></h4>
	<p><%= current_user.first_name %> <%= current_user.last_name %></p>
</div>

<h4> <%= @suggestion.content %> </h4>

<%= link_to 'Back to Idea', idea_path(@idea) %> |
<%= link_to 'Edit Suggestion', edit_idea_suggestion_path(@idea, @suggestion) %>
